@charset "UTF+8";

body {
    background-color: rgb(160, 207, 154);
}
h1#principal {
    background-color: rgb(113, 129, 42);
    color: white;
    text-align: center;
}
h1 {
    color: rgb(16, 65, 10);
    text-align: center;
}
h2 {
    color: rgb(82, 131, 71);
}
.basico {
    color: rgb(82, 131, 71);
}
.intermediario {
    color: rgb(253, 249, 0);
}
.avancado {
    color: red;
}