@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
@import url('https://fonts.cdnfonts.com/css/blood-crow');
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #424242;
    --cor2: #ddafc4;

    --bodyfont: "Open Sans", system-ui;
    --japanfont: "Cactus Classical Serif", serif;
    --headerfont: 'Blood Crow', sans-serif;
}
html, body {
    min-width: 100vh;
    background-color: darkgrey;
}
.japan {
    font-family: var(--japanfont);
    font-size: 3vw;
    color: brown;
}
.japan2 {
    font-family: var(--bodyfont);
    font-size: 3vw;
    color: blueviolet;
}
.br {
    font-family: var(--bodyfont);
    font-size: 3vw;
    color: green;
    padding: 5px 0px 15px 0px;
}
section {
    padding-left: 30px;
}
.estrof {
    background-color: azure;
    color: black;
    padding-top: 10vh;
    padding-bottom: 3vh;
}
.preref {
    background-color: azure;
    color: black;
    padding-bottom: 10vh;
}
.ref {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#img01 {
    background-image: url(imagens/background0.jpg);
}
#img02 {
    background-image: url(imagens/background001.jpg);
}
#img03 {
    background-image: url(imagens/background002.jpg);
}
.ref > div {
    background-color: rgba(0, 0, 0, 0.400);
    padding: 10px;
    width: 400px;
}
.ref > div > p.br {
    color: white;
}
header {
    background-color: var(--cor1);
    text-align: center;
}
header h1 {
    font-family: var(--headerfont);
    color: white;
    padding-top: 50px;
    font-size: 8vw;
}
header p {
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: var(--cor1);
    text-align: center;
}