@charset "UTF-8";
body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(112, 66, 10);
    background-color: aliceblue;
}
h2 {
    color: rgb(189, 134, 66);
}
p {
    text-align: justify;
}